.game{
  height: 60vh;
  width: 60vh;
}

.box{
  font-size: 3rem;
  height: 18vh;
  width: 18vh;
  border: none;
  border-radius: 1rem;
}

.reset{
  margin-top:1.5rem ;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
}

.msg-ctr{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hide{
  display: none;
}